<div class="myconainer">
  <form class="form-control">
    <div class="form-group">
      <label for="name">Nom</label>
      <input type="text" id="name" name="name" placeholder="Le nom de la librairie"
             required [(ngModel)]="name">
    </div>
    
    <div class="form-group">
      <label for="address"> Adresse</label>
      <input type="text" required id="address" name="address" placeholder="L'adresse postale" [(ngModel)]="address">
      </div>
    <div class="form-group">
      <label for="yearCreated">Année de création</label>
      <input type="text" required id="yearCreated" name="yearCreated" placeholder="L'année de fondation" [(ngModel)]="yearCreated">
      </div>
      <input type="submit" value="Ajouter" (click)="addLibrary()">
</form>
</div>
