<link rel="stylesheet" href="assets/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css">
  <script src="assets/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  
<div class="mydiv">
  <div class="slide">
<angular-image-slider [images]="imagesUrl"></angular-image-slider>
</div>
<div classe="tab">
    <table class="table">
        <thead>
          <tr>
            
            <th>Bibliothéques</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let library of librairies">
           <td ><a [routerLink]="['detailBibliotheque', library.id]" class="link">{{library.name}} </a></td>
            <td >
                <button type="button" class="btn btn-danger">Supprimer</button>
                 
            </td>
            <td><button type="button" class="btn btn-primary" [routerLink]="['modifierLibrairy', library.id]">Modifier</button></td>
          </tr>
          
        </tbody>
      </table>
</div>
</div>